#mainContainer1 {
    display: flex;
    gap: 20px;
    margin: auto;
    flex-direction: column;
    margin: 20px;
}
#mainContainer2{

}
/* #cardsContainer {
}
#cardsContainer p {
} */
.cardsContainerfull {
    padding-top: 50px;
    border-style: groove;
    border-width: 1px 1px 1px 1px;
    border-radius: 10px;
    background-color: #f9f9f975;
}
.welcome-msg {
    font-size: 50px;
    display: flex;
    justify-content: center;
}
#mainContainer2 {
    display: flex;
    justify-content: space-evenly;
}
.widewidth{

}
.thinwidth {
    margin: auto;
    width: 60%;
}
.card-footer{
        display: flex;
        justify-content: center;
}
.card-header{
    display: flex;
    justify-content: center;
}

.card-title {
    display: flex;
    justify-content: center;
    border-style: groove;
    border-width: 3px;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}
